<% include ../partials/header %>

<div class="container dispensaries">
  <h1 class="text-center dispensaries__header">Dispensaries Near You</h1>
  <div class="dispensaries__cards">
    <% dispensaries.forEach((dispensary) => { %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <a href="dispensaries/<%= dispensary._id %>">
            <img class="dispensaries__img" src="<%= dispensary.image %>" alt="<%= dispensary.name %>">
          </a>
          <a href="dispensaries/<%= dispensary._id %>">
            <h3 class="text-center dispensaries__name"><%= dispensary.name %></h3>
          </a>
        </div>
      </div>
    <% }); %>
  </div>
  <a class="btn btn-default" href="dispensaries/new">Add a new dispensary</a>
</div>

<% include ../partials/footer %>