<% include ../partials/header %>

<div class="container">
  <div class="thumbnail">
    <img src="<%= dispensary.image %>" alt="<%= dispensary.name %>">
    <h1><%= dispensary.name %></h1>
    <p><%= dispensary.location %></p>
    <p><%= dispensary.description %></p>
  </div>
</div>

<% include ../partials/footer %>