<% include ../partials/header %>

<div class="container">
  <div class="thumbnail">
    <img src="<%= dispensary.image %>" alt="<%= dispensary.name %>">
    <h1><%= dispensary.name %></h1>
    <p><%= dispensary.location %></p>
    <p><%= dispensary.description %></p>
    <a href="/dispensaries/<%= dispensary._id %>/edit">Edit Dispensary</a>
  </div>
  <a href="/dispensaries/<%= dispensary._id %>/strains/new">Add a new strain</a>
  <% dispensary.strains.forEach((strain) => { %>
    <div class="thumbnail">
      <a href="/dispensaries/<%= dispensary._id %>/strains/<%= strain._id %>"><img src="<%= strain.image %>" alt="<%= strain.name %>"></a>
      <a href="/dispensaries/<%= dispensary._id %>/strains/<%= strain._id %>"><h4><%= strain.name %></h4></a>
      <p><%= strain.type %></p>
      <p><%= strain.description %></p>
      <a href="/dispensaries/<%= dispensary._id %>/strains/<%= strain._id %>/edit">Edit Strain</a>
    </div>
  <% }) %>
  <div class="well">
    <h4>Reviews</h4>
    <a href="<%= dispensary._id %>/reviews/new">Leave a Review</a>
    <% dispensary.reviews.forEach((review) => { %>
      <p><%= review.text %></p>
      <p><%= review.rating %></p>
    <% }) %>
  </div>
</div>

<% include ../partials/footer %>