<% include ../partials/header %>

<div class="container strains">
  <h1 class="text-center strains__header">Vancouver's Most Popular Strains</h1>
  <div class="strains__cards">
    <% strains.forEach((strain) => { %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <a href="/dispensaries/<%= strain.dispensary %>/strains/<%= strain._id %>">
            <img class="strains__img" src="<%= strain.image %>" alt="<%= strain.name %>">
          </a>
          <a href="/dispensaries/<%= strain.dispensary %>/strains/<%= strain._id %>">
            <h3 class="text-center strains__name"><%= strain.name %></h3>
          </a>
        </div>
      </div>
    <% }); %>
  </div>
  <% if(user && user.admin || user && user.moderator == true) { %>
    <a class="btn btn-default" href="dispensaries/<%= strain.dispensary %>/strains/new">Add a new strain</a>
  <% } %>
</div>

<% include ../partials/footer %>