<% include ../partials/header %>

<div class="container">
  <div class="thumbnail">
    <img src="<%= strain.image %>" alt="<%= strain.name %>">
    <h2><%= strain.name %></h2>
    <p><%= strain.type %></p>
    <p><%= strain.description %></p>
    <a href="<%= strain._id %>/edit">Edit Strain</a>
    <form action="/dispensaries/<%= dispensary_id %>/strains/<%= strain._id %>?_method=DELETE" method="POST"><button>Delete Strain</button></form>
  </div>
  <a href="<%= strain._id %>/reviews/new">Leave a review</a>
  <% strain.reviews.forEach((review) => { %>
    <p><%= review.text %></p>
    <p><%= review.rating %></p>
    <a href="<%= strain._id %>/reviews/<%= review._id %>/edit">Edit Review</a>
    <form action="/dispensaries/<%= dispensary_id %>/strains/<%= strain._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST"><button>Delete Review</button></form>
  <% }) %>
</div>

<% include ../partials/footer %>