<% include ../partials/header %>

<div class="container">
  <div class="thumbnail">
    <img src="<%= strain.image %>" alt="<%= strain.name %>">
    <h2><%= strain.name %></h2>
    <p><%= strain.type %></p>
    <p><%= strain.description %></p>
    <a href="<%= strain._id %>/edit">Edit Strain</a>
  </div>
</div>

<% include ../partials/footer %>