<% include ../partials/header %>

<div class="container">
  <div class="low-nav">
    <a href="/dispensaries/<%= dispensary._id %>" class="low-nav__dispensary"><%= dispensary.name %></a>
    <a class="arrow">></a>
    <a href="#" class="low-nav__strain"><%= strain.name %></a>
  </div>
  <div class="strain">
    <img class="strain__img" src="<%= strain.image %>" alt="<%= strain.name %>">
    <div class="strain__info">
      <h2 class="text-center"><%= strain.name %></h2>
      <p class="text-center"><%= strain.type %></p>
      <p class="text-center"><%= strain.description %></p>
      <% if(strain.avgRating) { %>
        <p class="text-center"><%= strain.avgRating %> &#9733;</p>
      <% } %>
      <% if(user) { %>
        <% if(user.favStrains.indexOf(strain._id) == -1) { %>
          <a class="like text-center" href="/dispensaries/<%= dispensary._id %>/strains/<%= strain._id %>/fav">&#9825</a>
        <% } else { %>
          <a class="like text-center" href="/dispensaries/<%= dispensary._id %>/strains/<%= strain._id %>/fav">&#9829</a>
        <% } %>
      <% } %>
      <% if(strain.thcContent) { %>
        <p><%= strain.thcContent %>% THC</p>
      <% } %>
      <% if(strain.cbdContent) { %>
        <p><%= strain.cbdContent %>% CBD</p>
      <% } %>
      <% if(user && strain.author.id.equals(user._id) || user && user.moderator == true) { %>
        <div class="inline">
          <a href="<%= strain._id %>/edit">Edit Strain</a>
          <form action="/dispensaries/<%= dispensary._id %>/strains/<%= strain._id %>?_method=DELETE" method="POST"><button>Delete Strain</button></form>
        </div>
      <% } %>
    </div>
  </div>
  <hr>
  <div class="col-md-4">
    <h3 class="text-center">Reviews</h3>
    <a class="pull-right" href="<%= strain._id %>/reviews/new">Leave a review</a>
    <hr>
    <% strain.reviews.forEach((review) => { %>
      <div class="review">
        <p class="review__rating pull-right">
          <% for(i = 0; i < review.rating; i++) { %> 
            &#9733;
          <% } %>
        </p>
        <h4 class="review__author"><%= review.author.username %></h4>
        <p class="review__text"><%= review.text %></p>
        <% if(review.flavors) { %>
          <p class="pull-right"><strong>Flavors:</strong> <%= review.flavors %></p>
        <% } %>
        <% if(review.effects) { %>
          <p><strong>Effects:</strong> <%= review.effects %></p>
        <% } %>
        <% if(user && review.author.id.equals(user._id) || user && user.moderator == true) { %>
          <div class="inline">
            <a href="<%= strain._id %>/reviews/<%= review._id %>/edit">Edit Review</a>
            <form action="/dispensaries/<%= dispensary._id %>/strains/<%= strain._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST"><button>Delete Review</button></form>
          </div>
        <% } %>
      </div>
    <% }) %>
  </div>
  <div class="col-md-8">
    <div class="strains">
        <h3 class="text-center strains__header">Other Strains From <%= dispensary.name %></h3>
        <div class="strains__cards">
          <% strains.forEach((strain) => { %>
            <div class="col-md-6">
              <div class="thumbnail">
                <a href="/dispensaries/<%= dispensary._id %>/strains/<%= strain._id %>"><img src="<%= strain.image %>" alt="<%= strain.name %>"></a>
                <a class="strains__title" href="/dispensaries/<%= dispensary._id %>/strains/<%= strain._id %>"><h3 class="text-center"><%= strain.name %></h3></a>
              </div>
            </div>
          <% }) %>
        </div>
        <% if(user && user.admin || user && user.moderator == true) { %>
          <a class="text-center btn btn-default strains__btn" href="/dispensaries/<%= dispensary._id %>/strains/new">Add a new strain</a>
        <% } %>
      </div>
  </div>
</div>

<% include ../partials/footer %>